page-ordenes {
	ion-list-header{
		margin-bottom: 0px !important;
		border-bottom: 1px solid #dedede;
	}
	.text-row{
		font-size: 1.4rem;
    	line-height: normal;
    	text-overflow: inherit;
    	color: #666;
	}
}
